<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/notifly_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/notifly_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_comment" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />


        <activity android:name=".presentationLayer.EditGroupActivity" />
        <activity android:name=".presentationLayer.AddMembersActivity" />
        <activity android:name=".presentationLayer.MembersActivity" />
        <activity android:name=".presentationLayer.NoticesActivity" />
        <activity android:name=".applicationLayer.strategyDesignPattern.GroupActivity" />
        <activity android:name=".presentationLayer.PostActivity" />
        <activity android:name=".presentationLayer.ManageGroupActivity" />
        <activity android:name=".presentationLayer.NotificationTestingActivity" />
        <activity android:name=".presentationLayer.CreateGroupActivity" />
        <activity android:name=".presentationLayer.RegisterClientActivity" />
        <activity android:name=".presentationLayer.DashboardActivity" />
        <activity android:name=".presentationLayer.LoginActivity" />
        <activity android:name=".presentationLayer.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".presentationLayer.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>